.body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: grey;
    color: white;
    text-align: center;
    
}

h3 {
    font-style: italic;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    border-color: black;
    padding: 0.5rem;
    
}

.final-th {
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background: rgb(194, 194, 194);
}

th {
    height: 50px;
}

td {
    height: 50px;
}

table {
    width: 50%;
}

#totalMonthly {
    text-align: center;
}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border: 8px solid;
      }

.red-background {
    background-color: red;
}

.edit-field {
    background-color: yellow;
}


